{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-less"
          ]
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@components": "./components",
        "@styles": "./styles",
        "@utils": "./utils",
        "@workers": "./workers",
        "@typings": "./typings",
        "@assets":  "./assets",
        "@constants": "./constants",
        "@hooks": "./hooks"
      }
    }]
  ]
}
